@import 'tailwindcss';

@layer base {
  :root {
    --foreground: 248, 8%, 20%;
    --subtle: 248, 8%, 20%;
    --background: 0, 0%, 97%;
    --primary: 205, 67%, 40%;
    --primary-darker: 208, 65%, 50%;
    --scrollbar-thumb: hsl(var(--primary));
    --scrollbar-track: hsl(var(--background));
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: 0, 0%, 100%;
      --subtle: 0, 0%, 85%;
      --background: 0, 0%, 3%;
      --primary: 205, 67%, 70%;
      --primary-darker: 208, 65%, 60%;
      --scrollbar-thumb: hsl(var(--primary));
      --scrollbar-track: hsl(var(--background));
    }
  }

  body {
    @apply font-sans bg-background text-foreground;
  }
}

@theme {
  --font-sans: Hanken Grotesk Variable, sans-serif;

  --color-primary-darker: hsl(var(--primary-darker));
  --color-foreground: hsl(var(--foreground));
  --color-subtle: hsl(var(--subtle));
  --color-background: hsl(var(--background));
  --color-primary: hsl(var(--primary));
  --color-secondary: #968ca8;
  --color-neutral: hsla(var(--foreground), 70%);
  --color-error: #ff5449;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
